<div class="container">
  <!-- Barra de búsqueda -->
  <div class="row mb-4">
    <div class="col-md-12">
      <input type="text" class="form-control" placeholder="Buscar productos por nombre..."
             [(ngModel)]="searchTerm" (input)="filterProducts()">
    </div>
  </div>

  <!-- Lista de productos filtrados -->
  <div class="row">
    <div class="col-md-4" *ngFor="let product of filteredProducts">
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <h5 class="card-title">{{ product.title }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <p class="card-text"><strong>Precio: </strong>{{ product.price | currency }}</p>
          <button class="btn btn-primary" (click)="addToCart(product)">Añadir al carrito</button>
        </div>
      </div>
    </div>
  </div>
</div>